<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASX_Share_Analysis_Tool.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ASX_Share_Analysis_Tool.My.MySettings.ASXShareMarketAnalysisToolConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ASXShareMarketAnalysisTool.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="DirectoryPath" value="bin/Debug" />
  </appSettings>
  <userSettings>
    <ASX_Share_Analysis_Tool.My.MySettings>
      <setting name="DirectoryPathSetting" serializeAs="String">
        <value />
      </setting>
    </ASX_Share_Analysis_Tool.My.MySettings>
  </userSettings>
</configuration>
